$bg: #15151d;
$gray-50: #25252f;
$gray-80: #32323f;
$gray-100: #393946;
$gray-200: #5d5d6d;
$gray-300: #7c7e8c;
$gray-400: #a0a1ac;
$gray-500: #b8b9c3;
$gray-600: #ceced6;
$gray-700: #dedee4;
$gray-800: #e9e9ef;
$gray-900: #ffffff;
$category-joyful-basic: #ff4d8d;
$category-joyful-tinted: rgba(255, 77, 141, 0.6);
$category-surprised-basic: #92c624;
$category-surprised-tinted: rgba(146, 198, 36, 0.6);
$category-sad-basic: #479cff;
$category-sad-tinted: rgba(71, 156, 255, 0.6);
$category-angry-basic: #ff6b4b;
$category-angry-tinted: rgba(255, 108, 75, 0.6);
$category-neutral-basic: #5d5d6d;
$category-neutral-tinted: rgba(93, 93, 109, 0.6);

$primary-basic: #76ffce;
$primary-02: rgba(118, 255, 206, 0.2);
$state-02: rgba(21, 21, 29, 0.2);
$state-04: rgba(21, 21, 29, 0.4);

$brand-red: #ff4d8d;
$brand-yellow: #bcf640;
$brand-blue: #65acff;
$brand-purple: #9f65ff;

$system-error: #e74d4d;
$system-dim-black: rgba(21, 21, 29, 0.7);
$system-dim-white: rgba(255, 255, 255, 0.2);

$breakpoint: 1200px;
