@use '../../styles/abstracts' as *;

.comments-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;

  > h2 {
    flex-shrink: 0;
  }
}

.comments-page__filters {
  display: flex;
  flex-shrink: 0;
  gap: 12px;
  align-items: flex-end;
  margin: 20px 0;

  .text-input {
    width: 320px;
  }
}

.comments-page__select {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid $gray-100;
  background-color: $gray-50;
  color: $gray-900;
  height: 41px;
}

.comments-page__action-button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid $gray-100;
  color: $gray-400;

  &:hover:not(:disabled) {
    color: $system-error;
    border-color: $system-error;
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}
